<nav class="navbar navbar-dark navbar-expand-lg bg-dark navigation-clean-search">
    <div class="container"><a class="navbar-brand" href="{currentDirectory}">{siteName}</a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation"><a class="nav-link" href="{currentDirectory}index.php">Home</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" href="{currentDirectory}areas.php">Areas</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" href="{currentDirectory}character.php">Character</a></li>
            </ul>
            <ul class="nav navbar-nav mx-auto"></ul>
            <ul class="nav navbar-nav">
                <li class="nav-item"><a class="nav-link"><span class="badge badge-secondary">{userName}</span> <span class="badge badge-secondary">Level {userLevel}</span> <span class="badge badge-warning">{userGold}g</span>
                <span class="badge badge-success">{userEXP} EXP</span></a></li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                       data-toggle="dropdown"
                       href="" id="dropdown03"><i class="fas fa-cog"></i></a>
                    <div aria-labelledby="dropdown03" class="dropdown-menu">
                        <a class="dropdown-item" href="/logout.php">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
