<nav class="navbar navbar-dark navbar-expand-lg bg-dark navigation-clean-search">
    <div class="container"><a class="navbar-brand" href="{currentDirectory}">{siteName}</a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation"><a class="nav-link" href="{currentDirectory}login.php">Login</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="{currentDirectory}signup.php">Signup</a></li>
            </ul>
        </div>
    </div>
</nav>