<div class="container">
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <div class="text-center">
            <form class="form-signin" method="post">

                <div id="notifications">{notifications}</div>

                <label class="sr-only" for="inputUser">Username</label>
                <input autofocus class="form-control" name="strUsername" id="inputUser" placeholder="Username" required type="text">
                <label class="sr-only" for="inputPassword">Password</label>
                <input class="form-control" id="inputPassword" name="strPassword" placeholder="Password" required type="password">
                <label class="sr-only" for="inputcPassword">Confirm Password</label>
                <input class="form-control" id="inputcPassword" name="strCPassword" placeholder="Confirm Password" required type="password">
                <label class="sr-only" for="inputemail">Email</label>
                <input class="form-control" id="inputemail" name="strEmail" placeholder="Email" required type="email">
                <div class="row align-items-end">
                    <div class="col-4 col-sm-6">
                          <select name="RaceID" class="custom-select">
                            <option class="dropdown-item" value="1">Human</option>
                            <option class="dropdown-item" value="2">Elf</option>
                          </select>
                    </div>
                    <div class="col-4 col-sm-6">
                        <select name="ClassID" class="custom-select">
                          {classOptions}
                        </select>
                    </div>
                </div>
                <button class="btn btn-lg btn-secondary btn-block" id="loginBtn" name="Submit" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>
