<div class="container">
    <div class="my-3 p-3 bg-dark rounded box-shadow">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        {Name}'s Character Page
                    </div>
                    <div id="notifications">
                        {notifications}
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Users Equipped Items</h5>
                                        <ul class="list-group">
                                            {Helmet}
                                            {Armour}
                                            {Sword}
                                            {Boots}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">User Avatar</h5>
                                        <img width="70%" src="/assets/images/default.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card text-center">
                                    <div class="tabs-container">
                                        <div class="tabs-left">
                                            <ul class="nav nav-tabs">
                                                <li>
                                                    <a class="nav-link active" data-toggle="tab"
                                                       href="#tab-1">Helmets</a>
                                                </li>
                                                <li>
                                                    <a class="nav-link" data-toggle="tab" href="#tab-2">Armours</a>
                                                </li>
                                                <li>
                                                    <a class="nav-link" data-toggle="tab" href="#tab-3">Swords</a>
                                                </li>
                                                <li>
                                                    <a class="nav-link" data-toggle="tab" href="#tab-4">Boots</a>
                                                </li>
                                            </ul>

                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab-1">
                                                    <div class="panel-body">
                                                        <ul class="list-group" align="left">
                                                            <li class="list-group-item">Item Name <span
                                                                    class="badge badge-danger">Rare</span>
                                                                <div align="right">
                                                                    <button type="button" class="btn btn-primary btn-sm"
                                                                            data-toggle="modal"
                                                                            data-target="#exampleModal">View stats
                                                                    </button>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="modal fade" id="exampleModal" tabindex="-1"
                                                         role="dialog" aria-labelledby="exampleModalLabel"
                                                         aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Modal
                                                                        title</h5>
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <h5>Popover in a modal</h5>
                                                                    <p>This <a href="#" role="button"
                                                                               class="btn btn-secondary popover-test"
                                                                               title="Popover title"
                                                                               data-content="Popover body content is set in this attribute.">button</a>
                                                                        triggers a popover on click.</p>
                                                                    <hr>
                                                                    <h5>Tooltips in a modal</h5>
                                                                    <p><a href="#" class="tooltip-test" title="Tooltip">This
                                                                        link</a> and <a href="#" class="tooltip-test"
                                                                                        title="Tooltip">that link</a>
                                                                        have tooltips on hover.</p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">Close
                                                                    </button>
                                                                    <button type="button" class="btn btn-primary">Save
                                                                        changes
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="tab-2">
                                                    <div class="panel-body">
                                                        <strong>Fucking Armour</strong>
                                                        <p>Thousand unknown plants are noticed by me: when I hear the
                                                            buzz of the little world among the stalks, and grow familiar
                                                            with the countless indescribable forms of the insects and
                                                            flies, then I feel the presence of the Almighty, who formed
                                                            us in his own image, and the breath</p>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="tab-3">
                                                    <div class="panel-body">
                                                        <strong>Fucking Swords</strong>
                                                        <p>Thousand unknown plants are noticed by me: when I hear the
                                                            buzz of the little world among the stalks, and grow familiar
                                                            with the countless indescribable forms of the insects and
                                                            flies, then I feel the presence of the Almighty, who formed
                                                            us in his own image, and the breath</p>
                                                        <p>I am alone, and feel the charm of existence in this spot,
                                                            which was created for the bliss of souls like mine. I am so
                                                            happy, my dear friend, so absorbed in the exquisite sense of
                                                            mere tranquil existence, that I neglect my talents. I should
                                                            be incapable of drawing a single stroke at the present
                                                            moment; and yet.</p>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="tab-4">
                                                    <div class="panel-body">
                                                        <strong>Fucking Boots</strong>
                                                        <p>Thousand unknown plants are noticed by me: when I hear the
                                                            buzz of the little world among the stalks, and grow familiar
                                                            with the countless indescribable forms of the insects and
                                                            flies, then I feel the presence of the Almighty, who formed
                                                            us in his own image, and the breath</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Users Stats</h5>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Strength:</li>
                                            <li class="list-group-item">Defence:</li>
                                            <li class="list-group-item">Intelligence:</li>
                                            <li class="list-group-item">Speed:</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
